.header{
	position: fixed;
	top: 0;
	z-index:10001;
}
@media (max-width: 768px) {
	.header{
		width: 100%;
	}
}
.btn-u{
	margin-top: 10px;
	background: #ED6C00;
}
.btn-u:hover{
	background: #c95007;
}
.contact p{
	color: #656565;
	margin-left: 45px;
	margin-top: -20px;
}
.contact li:nth-child(2) p{
	margin-left: 85px;
}
.who li i {
    color: #454545;
}
.img{
	margin-top: 80px;
	height:230px;
	width: 100%;
    background: url(../images/map.jpg) no-repeat;
}
