.header{
	position: fixed;
	top: 0;
	z-index:10001;
}
@media (max-width: 768px) {
	.header{
		width: 100%;
	}
}
.slides{
	padding-top:80px;
}
.logo{
	width: 200px;
}
.newShow img{
	width: 100%;
	height: 100%;
}
.headline h2, .headline h3, .headline h4 {
	border-bottom: 2px solid #ED6C00;
}
.new{
	border: 1px solid #f1f0f0;
}
.headline a{
	float: right;
	width: 20px;
	background: url(../images/indexImg/bg.jpg) no-repeat -1px;
	text-indent: -30px;
	color: #C0C0C0;
	margin-top: 8px;
}
.caption h3 a:hover{
	color: #ED6C00;
}
.caption p{
	color: #A0A0A0;
	font-size: 12px;
}
.caption h3 a{
	font-size: 16px;
	color: #585858;
}
.disPlay{
	border: 1px solid #f1f0f0;
}
.disPlay p{
	text-align: center;
	color: #9B9B9B;
	font-size: 14px;
}
.lastFooter a{
	background:none;
	text-indent: -10px;
	margin-top: 8px;
}

