<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">总览数据</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right"> <include file="Public/rightContent" /> </block>
<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>

<block name="footExtra"> function sidebarSelect(){ //移除所有的active
// $(".active").removeClass("active"); //自身添加active } </block>
