<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">档案列表</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<a href="{:U('addArchives')}" class="btn btn-primary" style="float: right; margin:10px 20px 0 0;" >添加档案</a>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="mainTable" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>档案编号</th>
							<th>姓名</th>
						<!-- 	<th>性别</th> -->
							<th>建档日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<if condition="$healthRecordArray neq NULL"> 
							<volist name="healthRecordArray" id="vo">
								<tr class="report">
									<td>{$vo.number}</td>
									<td>{$vo.tiny_name}</td>
									<td>{$vo.create_time}</td>
									<td>
									<a href="editArchives/id/{$vo.id}" class="btn btn-primary btn-xs">编辑</a>
									<a href="#" class="btn btn-primary btn-xs">预览</a>
								</td>
								</tr>
							</volist>
						<else />
							<p style="font-size: 14px; color: #666; text-align: center; height: 200px; line-height: 200px;" class="noShop">对不起，没有信息！</p>
						</if>
					</tbody>
				</table>
				<!--翻页-->
				<ul class="pagination">
				    <li><a href="#">&laquo;</a></li>
				    <li><a class="pag" href="#" style="background: #3d78b7; color: #fff;">1</a></li>
				    <li><a class="pag" href="#">2</a></li>
				    <li><a class="pag" href="#">3</a></li>
				    <li><a class="pag" href="#">4</a></li>
				    <li><a class="pag" href="#">5</a></li>
				    <li><a href="#">&raquo;</a></li>
				    	<li><input type="text" style="width: 35px; height: 33px; margin-left: 10px;" placeholder="页码"/></li>
				    	<li><a href="#" style="float:right;">跳转</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		//翻页
	  	$(".pagination").on("click",".pag",function(){
    			$(".pagination .pag").css({"background":"","color":"#696969"});
    			$(this).css({"background":"#3d78b7","color":"#fff"});
    		});
</script>
<!-- /.row --> </block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>
