<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">健康管理平台医生版</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right"> <!--content start-->
<div style="padding: 0px 15px 15px 15px; width: 100%;">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-aqua">
					<i class="glyphicon glyphicon-user" style="font-size: 35px;"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">我的会员</span> 
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red">
					<i class="glyphicon glyphicon-file" style="font-size: 35px;"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">会员档案</span> 
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->

		<!-- fix for small devices only -->
		<div class="clearfix visible-sm-block"></div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green">
					<i class="glyphicon glyphicon-envelope" style="font-size: 35px;"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">咨询信息</span> 
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-yellow">
					<i class="ion ion-ios-people-outline" style="font-size: 35px;"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">总用户</span> 
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-4">
			<!--user info table start-->
			<section class="panel" style="height: 384.417px">
				<div class="panel-body">
					<a href="javascript:void(0)" class="task-thumb"> <if
							condition="$userData.avatar neq null"> <img
							src="http://ainia.oss-cn-beijing.aliyuncs.com/{$userData.avatar}"
							style="width: 90px; height: 83px;" id="idocimg"> <else />
						<img
							src="https://img.alicdn.com/tps/TB1BsZ6JpXXXXaZXpXXXXXXXXXX-81-81.png"
							alt="User Image" style="width: 90px; height: 83px;" id="idocimg">
						</if>
					</a>
					<div class="task-thumb-details">
						<h1>
							<if condition="$userData.nickname neq null"> <a
								href="javascript:;" id="idocname">{$userData.nickname}</a> <else />
							<a href="javascript:;" id="idocname">{$userData.email}</a> </if>
						</h1>

					</div>
				</div>
				<a id="CModel" data-toggle="modal" href="#iCreateUserModel"
					onclick="bind()"></a>
				<table class="table table-hover personal-task">
					<tbody>
						<tr onclick="DoOpen(1);" style="cursor: pointer">
							<td><i class="icon-user"></i></td>
							<td style="text-align: center">新建会员</td>
							<td>+</td>
						</tr>
						<tr onclick="DoOpen(2);" style="cursor: pointer">
							<td><i class="icon-file"></i></td>
							<td style="text-align: center">新建档案</td>
							<td>+</td>
						</tr>
						<tr onclick="DoOpen(3);" style="cursor: pointer">
							<td><i class="icon-print"></i></td>
							<td style="text-align: center">打印报告</td>
							<td>+</td>
						</tr>
						<tr onclick="DoOpen(4);" style="cursor: pointer">
							<td><i class="icon-cloud-upload"></i></td>
							<td style="text-align: center">上传报告</td>
							<td>+</td>
						</tr>
					</tbody>
				</table>
			</section>
			<!--user info table end-->
		</div>
		<!--体检报告-->
		<div class="col-lg-8">
			<section class="panel">
				<header class="panel-heading">
					检测报告
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/other/medical.aspx" target="_self"><i
							class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover"
					id="tijian">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>家庭住址</th>
							<!-- <th>生日</th>-->
							<th>注册时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="reportArray" id="vo">
							<tr>
								<td><a href="#">{$v.tiny_name}</a></td>
								<if condition="$v.sex == 1">
									<td>男</td>
								<elseif condition="$v.sex == 2">
									<td>女</td>
								</if>
								<td>{$v.address}</td>
								<td>{$v.reg_time}</td>
								<td>{$v.reg_time}</td>
								<td><button class="btn btn-primary btn-xs" onclick="">查看</button></td>
							</tr>
						</volist>
					</tbody>
				</table>
			</section>
		</div>
		<!--体检报告end-->
	</div>
	<div class="row">
		<!--安全预警-->
		<div class="col-lg-4">
			<section class="panel">
				<header class="panel-heading">
					安全预警
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/warning/safety.aspx?a=5" target="_self"><i
							class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover"
					id="SecurityWarning">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>定位时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</section>
		</div>
		<!--安全预警end-->
		<!--健康预警-->
		<div class="col-lg-8">
			<section class="panel">
				<header class="panel-heading">
					健康预警
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/warning/health.aspx?a=5" target="_self"><i
							class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover"
					id="HealthWarning">
					<thead>
						<tr>
							<th>姓名</th>
							<th>测量项目</th>
							<th>异常数值</th>
							<th>状态</th>
							<th>测量日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</section>
		</div>
		<!--健康预警end-->
	</div>
	<div class="row">
		<!--重点关注-->
		<div class="col-lg-4">
			<section class="panel">
				<header class="panel-heading">
					重点关注
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/other/focus.aspx" target="_self"><i
							class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover"
					id="focus">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>注册时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</section>
		</div>
		<!--重点关注end-->
		<!--健康咨询-->
		<div class="col-lg-8">
			<section class="panel">
				<header class="panel-heading">
					健康咨询
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/consult/index.aspx?a=2" target="_self"><i
							class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover"
					id="consult">
					<thead>
						<tr>
							<th>姓名</th>
							<th>内容</th>
							<th>时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="consultationArray" id="v">
							<tr>
								<td><a href="#">{$v.userTinyName}</a></td>
								<td>{$v.content}</td>
								<td>{$v.create_time}</td>
								<if condition="$v.status == 0">
									<td>未回复</td>
								<else/>
									<td>已回复</td>
								</if>
								<td>
									<a data-toggle="modal" href="#iConsult" onclick="getAnswerData({$v.ask_id},{$v.uid})">
										<button class="btn btn-primary btn-xs">回复</button>
									</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
			</section>
		</div>
		<!--健康咨询end-->
	</div>
	 <div class="modal fade" id="iConsult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">回复</h4>
                </div>
                <div class="panel-body">
                    <div class="timeline-messages" id="messageslist">
                    	<!-- 用户咨询的问题 -->
                    	<div class="msg-time-chat">
                    		<a class="message-img" href="{$user.avatar}">
	                    		<if condition="$userData.avatar neq null">
									<img src="http://ainia.oss-cn-beijing.aliyuncs.com/{$userData.avatar}" class="user-image">
								<else />
									<img src="https://img.alicdn.com/tps/TB1BsZ6JpXXXXaZXpXXXXXXXXXX-81-81.png" class="user-image" alt="User Image">
								</if>
                    		</a>
                    		<div class="message-body msg-in">
                    			<span class="arrow"></span>
                    			<div class="text">
                    				<p class="attribution">
                    					<a href="#">{$v.tiny_name}</a>
                    					{$v.create_time}
                    				</p>
                    				<p>{$v.content}</p>
                    			</div>
                    		</div>
                    	</div>
                    	<!-- 医生回复 -->
                    	<volist name="consultationArray" id="v">
	                    	<div class="msg-time-chat">
	                    		<a class="message-img" href="{$user.avatar}">
		                    		<if condition="$userData.avatar neq null">
										<img src="http://ainia.oss-cn-beijing.aliyuncs.com/{$userData.avatar}" class="user-image">
									<else />
										<img src="https://img.alicdn.com/tps/TB1BsZ6JpXXXXaZXpXXXXXXXXXX-81-81.png" class="user-image" alt="User Image">
									</if>
	                    		</a>
	                    		<div class="message-body msg-in">
	                    			<span class="arrow"></span>
	                    			<div class="text">
	                    				<p class="attribution">
	                    					<a href="#">我</a>
	                    					{$v.create_time}
	                    				</p>
	                    				<p>{$v.content}</p>
	                    			</div>
	                    		</div>
	                    	</div>
	                    </volist>
                    </div>
                    <div class="chat-form">
                        <div class="input-cont ">
                            <input style="border-radius: 4px;margin-bottom: 10px;" class="form-control col-lg-12" id="txtConsultMsg" name="txtConsultMsg" placeholder="在这里输入回复信息..." minlength="2" type="text" required>
                        </div>
                        <div class="form-group">
                            <div class="pull-right chat-features">
                                <button type="button" class="btn btn-send" onclick="DoSaveConsultMsg();">发送</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
	</section>
	<!--main content end-->
</div>
<!-- content end--> <!--state overview end--> </block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block> 
