<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">健康档案</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<!-- /.box-header -->
			<div class="box-body">
				<div class="contentpanel">
					<div class="row">
						<div class="col-md-12 mb20">
							<ul class="nav nav-tabs nav-dark" style="background: #ddd;">
								<li class="active"><a href="#baseinfo" data-toggle="tab"><strong>基本信息</strong></a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="baseinfo">
									<table class="table table-bordered mb30" id="arctable">
										<tbody>
											<tr>
												<td>姓名</td>
												<td id="tinyName">{$userInfo.tinyName}</td>
												<td>性别</td>
												<if condition="$userInfo.sex eq 1">
													<td id="sex">男</td>
												<else/>
													<td id="sex">女</td>
												</if>
												<td>出生日期</td>
												<td id="birth">{$userInfo.birthday}</td>
											</tr>
											<tr>
												<td>详细现住址</td>
												<td id="addnow" colspan="3">{$userInfo.address}</td>
												<td>所属社区</td>
												<td id="shequ"></td>
											</tr>
											<tr>
												<td>详细户籍住址</td>
												<td id="addold" colspan="3"></td>
												<td>籍贯</td>
												<td id="jiguan"></td>
											</tr>

											<tr>
												<td>住房面积</td>
												<td id="mianji"></td>
												<td>常住人口</td>
												<td id="renkou"></td>
												<td>户主姓名/<br /> 与户主关系
												</td>
												<td id="guanxi"></td>
											</tr>
											<tr>
												<td>证件类型</td>
												<td id="leixin">身份证</td>
												<td>证件号码</td>
												<td id="idcard">{$userInfo.idno}</td>
												<td>工作单位</td>
												<td id="GongZuoDanWei"></td>
											</tr>
											<tr>
												<td>民族</td>
												<td id="nation"></td>
												<td>血型</td>
												<td id="bloodtype"></td>
												<td>RH血型</td>
												<td id="RHxuexing"></td>
											</tr>
											<tr>
												<td>本人电话</td>
												<td id="JiaTinDianHua"></td>
												<td>本人手机</td>
												<td id="brphone">{$userInfo.mobile}</td>
												<td>本人邮件</td>
												<td id="bremail">{$userInfo.email}</td>
											</tr>
											<tr>
												<td>联系人姓名</td>
												<td id="LianXiRenName"></td>
												<td>联系人手机</td>
												<td id="LianXiRenDianHua"></td>
												<td>联系人邮件</td>
												<td id="LianXiRenEmail"></td>
											</tr>
											<tr>
												<td>婚姻状况</td>
												<td id="HunYingZhuangKuang"></td>
												<td>文化程度</td>
												<td id="WenHuaChengDu"></td>
												<td>职业</td>
												<td id="ZhiYe"></td>
											</tr>



											<tr>
												<td>身高(cm)</td>
												<td id="txtheight"></td>
												<td>体重(kg)</td>
												<td id="txtwidth"></td>
												<td>腰围(cm)</td>
												<td id="yaowei"></td>
											</tr>
											<tr>
												<td>医疗费用支付方式</td>
												<td colspan="5" id="YiLiao"></td>
											</tr>

											<tr>
												<td>饮食情况</td>
												<td colspan="5" id="DietHabit"></td>
											</tr>
											<tr>
												<td>吸烟史</td>
												<td colspan="5" id="Somke"></td>
											</tr>
											<tr>
												<td>饮酒史</td>
												<td colspan="5" id="DrinkRate"></td>
											</tr>
											<tr>
												<td>锻炼情况</td>
												<td colspan="5" id="Sports"></td>
											</tr>
											<tr>
												<td>视力情况</td>
												<td colspan="5" id="shili"></td>
											</tr>
											<tr>
												<td>牙齿情况</td>
												<td colspan="5" id="yachi"></td>
											</tr>
											<tr>
												<td>睡眠情况</td>
												<td colspan="5" id="shuimian"></td>
											</tr>
											<tr>
												<td>药物过敏史</td>
												<td colspan="5" id="Drug"></td>
											</tr>
											<tr>
												<td>暴露史</td>
												<td colspan="5" id="BaoLu"></td>
											</tr>
											<tr>
												<td colspan="6">01疾病史</td>
											</tr>
											<tr>
												<td colspan="6" id="JiBing"></td>
											</tr>

											<tr>
												<td colspan="6">02手术史</td>
											</tr>
											<tr>
												<td colspan="6" id="SS"></td>
											</tr>
											<tr>
												<td colspan="6">03外伤史</td>
											</tr>
											<tr>
												<td colspan="6" id="WS"></td>
											</tr>
											<tr>
												<td colspan="6">04输血史</td>
											</tr>
											<tr>
												<td colspan="6" id="SX"></td>
											</tr>
											<tr>
												<td colspan="6">05家族史</td>
											</tr>
											<tr>
												<td>1.父亲</td>
												<td colspan="5" id="FQ"></td>
											</tr>
											<tr>
												<td>2.母亲</td>
												<td colspan="5" id="MQ"></td>
											</tr>
											<tr>
												<td>3.兄弟姐妹</td>
												<td colspan="5" id="XD"></td>
											</tr>
											<tr>
												<td>4.子女</td>
												<td colspan="5" id="ZN"></td>
											</tr>

											<tr>
												<td>06遗传病史</td>
												<td colspan="5" id="YiChuanBing"></td>
											</tr>
											<tr>
												<td>07残疾情况</td>
												<td colspan="5" id="CanJi"></td>
											</tr>

											<tr>
												<td colspan="6">08生活环境</td>
											</tr>
											<tr>
												<td>1.厨房排风设施</td>
												<td colspan="5" id="chufang"></td>
											</tr>
											<tr>
												<td>2.燃料类型</td>
												<td colspan="5" id="ranliao"></td>
											</tr>
											<tr>
												<td>3.饮水</td>
												<td colspan="5" id="yinshui"></td>
											</tr>
											<tr>
												<td>4.厕所</td>
												<td colspan="5" id="cesuo"></td>
											</tr>
											<tr>
												<td>5.禽兽栏</td>
												<td colspan="5" id="qinshou"></td>
											</tr>


										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row --> <!-- Modal -->
<div class="modal fade" id="sstReportUrl" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">心电贴</h4>
			</div>
			<div class="modal-body">
				<!-- /.box-header -->
				<div class="form-group">
					<div class="touxiang" style="margin-left: 15px">
						<volist name="reportArray" id="vo">
						<div class="img" id="localImag">
							<if condition="$vo['report_url'] neq NULL"> <!-- <img src="{$vo.report_url}" alt="" style="margin-top: 0px; margin-bottom: 10px;" /> -->
							<a href="{$vo.report_url}">报告图片</a> <else />
							<p
								style="font-size: 14px; color: #666; text-align: center; height: 200px; line-height: 200px;"
								class="noShop">对不起，没有报告图片！</p>
							</if>
						</div>
						</volist>
					</div>
					<input type="hidden"
						value="{$_SESSION['Sess_']['userInfo']['uid']}" name="uid"
						id="uid" />
				</div>
				<!-- /.box-footer -->
			</div>
		</div>
	</div>
</div>
</block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>