<extend name="Public/base"/>
<block name="head">
    <include file="Public/head"/>
</block>
<block name="title">信息中心</block>
<block name="header">
    <include file="Public/header"/>
</block>
<block name="left">
    <include file="Public/leftSidebar"/>
</block>
<block name="right">
	<div class="row">
		<div class="col-xs-12">
			<!-- /.box -->
			<!-- general form elements disabled -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">信息详情</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<!-- text input -->
					<div class="form-group">
						<label>标题</label> <input name="title" type="text" class="form-control" value="{$messageInfo.title}" placeholder="" disabled>
					</div>
					<!-- content -->
					<div class="form-group">
						<label>内容</label> 
						<br/>
						<textarea rows="5" cols="100">{$messageInfo.content}</textarea>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
</block>
<block name="runJsContent"> </block>
<block name="footer">
    <include file="Public/footer"/>
</block>
<block name="foot">
    <include file="Public/foot"/>
</block>