<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">会员列表</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
<style type="text/css">
	.message td:not(:first-child){
		line-height: 35px;
	}
</style>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header col-lg-2 ">
				<select class="form-control m-bot15" id="grouplist">
					<option value="">全部会员</option>
					<option value="">第二市场</option>
				</select>
			</div>
			<ul class="unstyled inbox-pagination " style="margin-top:8px;">
				<li>
					<div class="col-lg-8">
						<input type="text" style="width: 130px;" name="txtBindUser" class="form-control" id="txtBindUser" value="" placeholder="请输入会员账号"/>
					</div>
				</li>
				<li>
					<button class="btn btn-danger">绑定</button>
				</li>
				<li>
					<a href="#" class="btn btn-primary" style="padding: 7px; margin-left: 10px;"> 新建会员</a>
				</li>
			</ul>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="mainTable" class="table table-bordered table-striped  table-hover">
					<thead>
						<tr>
							<th>头像</th>
							<th>姓名</th>
							<th>性别</th>
							<th>注册时间</th>
							<th>所属分组</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<form action="delAll" method="post" class="messageInfo">
							<tr class="message">
								<td><a href="#"><img style="width: 35px; height: 35px;" src=""/></a></td>
								<td>刘大妈</td>
								<td>女</td>
								<td>2016-12-12</td>
								<td>第二市场</td>
								<td>
									<a href="#" class="btn btn-primary btn-xs">编辑</a>&nbsp;&nbsp;
									<a href="#" class="btn btn-primary btn-xs">删除</a>
								</td>
							</tr>
						</form>
					</tbody>
				
				</table>
				<!--翻页-->
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
				    <li><a class="pag" href="#" style="background: #3d78b7; color: #fff;" >1</a></li>
				    <li><a class="pag" href="#">2</a></li>
				    <li><a class="pag" href="#">3</a></li>
				    <li><a class="pag" href="#">4</a></li>
				    <li><a class="pag" href="#">5</a></li>
				    <li><a href="#">&raquo;</a></li>
				    	<li><input type="text" style="width: 35px; height: 33px; margin-left: 10px;" placeholder="页码"/></li>
				    	<li><a href="#" style="float:right;">跳转</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		//翻页
	  	$(".pagination").on("click",".pag",function(){
    			$(".pagination .pag").css({"background":"","color":"#696969"});
    			$(this).css({"background":"#3d78b7","color":"#fff"});
    		});
</script>
<!-- /.row --> </block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>

