<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">健康报表</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- <div class="box-header">
					<a href="javascript:;" style="float: left">健康报表</a>
				</div> -->
				<!-- /.box-header -->
				<div class="box-body">
					<table id="mainTable" class="table table-bordered table-striped">
						<thead>
							<tr>
								<!--<th>全选</th>-->
								<th style="width: 105px;">测量项目</th>
								<!-- <th>测量结果</th> -->
								<th>结果分析</th>
								<th>测量时间</th>
								<th>参考范围</th>
							</tr>
						</thead>
						<tbody>
						<if condition="$reportArray neq NULL">
							<volist name="reportArray" id="vo">
								<tr class="report">
									<!--选框-->
									<!--<td class="ck"><input type="checkbox" name="id[]"  value="{$message.message_id}"  class="check"/></td>-->
									<td style="width: 105px;">{$vo.title}</td>
									<!-- <td>{$vo.data}</td> -->
									<if condition="$vo['report_type'] eq 1">
										<td>{$vo.report_url}</td>
									<else/>
										<td>{$vo.content}</td>
									</if>	
									<td>{$vo.add_time}</td>
									<td>{$vo.reference_range}</td>
								</tr>
							</volist>
						<else/>
							<p style="font-size:14px;color:#666;text-align: center;height: 200px;line-height: 200px;" class="noShop">对不起，健康报表信息！</p>
						</if>
						<!--<div class="checkall ">
							<input type="checkbox" name="" id="" value=""  class="check"/>
							<label for="">全选</label>
							<button type="button" class="del">删除</button>
						</div>-->
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</block>
<block name="runJsContent"> $('#mainTable').DataTable({ "paging": true, "lengthChange": true, "searching": true, "ordering": false, "info": true, "autoWidth": false }); </block>

<block name="footer">
    <include file="Public/footer"/>
</block>
<block name="foot">
    <include file="Public/foot"/>
</block>