<extend name="Public/base" />
<block name="head">
<include file="Public/head" /> </block>
<block name="title">设备设置</block>
<block name="header">
<include file="Public/header" /> </block>
<block name="left">
<include file="Public/leftSidebar" /> </block>
<block name="right">
<div class="row">
	<div class="col-xs-12">
		<div class="box" style="padding: 15px 15px;">
			<div
				style="padding-left: 10px; padding-right: 10px; width: 100%; min-height: 1px;">
				<ul class="nav nav-tabs nav-dark" style="background: #ddd"
					id="myTab">
					<li><a href="#bloodPressure">血压检测仪-(设置)</a></li>
					<li><a href="#stickWith">随身贴心电测试仪-(设置)</a></li>
					<li><a href="#bloodSugar">血糖仪-(设置)</a></li>
				</ul>
				<div class="tab-content">
					<!--血压仪设置-->
					<div class="tab-pane active" id="bloodPressure">
						<div class="table-responsive">
							<table id="bloodpressure"
								class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>测量时间</th>
										<th>血压浓度</th>
										<th>结果分析</th>
										<th>报告图片</th>
									</tr>
								</thead>
								<tbody>
									<!-- <if condition="$reportArray neq NULL">  -->
									<volist name="reportArray" id="vo">
									<tr class="report">
										<td>{$vo.detect_time}</td>
										<td>{$vo['blood_sugar']}</td>
										<if condition="$vo['report_type'] eq 1">
										<td>{$vo.report_url}</td>
										<else />
										<td>{$vo.content}</td>
										</if>
										<!-- <td>{$vo.reference_range}</td> -->
										<td><a href="{$vo.report_url}">查看详情</a></td>
									</tr>
									</volist>
								</tbody>
							</table>
							<div class="pages">{$page}</div>
						</div>
					</div>
					<!--随身贴心电测试仪设置-->
					<div id="stickWith" class="tab-pane" style="margin-top: 10px;">
						<div class="row">
							<div class="col-md-3">
								<div class="row">
									<div class="col-sm-9 col-sm-offset-3">
									<!--	<input class="btn btn-primary" type="button" onclick="getBSData(1);" value="确定"/>-->
									待续中...
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--  血糖仪设置 -->
					<div id="bloodSugar" class="tab-pane">
						<div class="panel panel-default">
							<div class="panel-body panel-body-nopadding">
								<form class="form-horizontal form-bordered" method="post"
									id="save-bg-form">
									<div class="form-group">
										<label class="col-sm-3 control-label">浓度值</label>
										<div class="col-sm-4">
											<input type="text" name="blood_sugar" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="time">测量时间</label>
										<div class="col-sm-4">
											<input type="text" name="detect_time" class="form-control">
										</div>
										<!-- <div class="col-sm-4">
                                            	<input type="text" id="time" class="form-control" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })">
                                        	</div> -->
									</div>
								</form>
							</div>
							<!-- panel-body -->
							<div class="panel-footer">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<button class="btn btn-primary" type="button"
											onclick="saveBSData();">保存</button>
									</div>
								</div>
							</div>
							<!-- panel-footer -->
						</div>
					</div>
					<!--  tab-three end  -->
				</div>
				<!--  tab-content end  -->
			</div>
			<script>
				$(function() {
					$('#myTab a:first').tab('show');
				})
				$('#myTab a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				})
			</script>
		</div>
	</div>
</div>
<!-- /.row --> </block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer">
<include file="Public/footer" /> </block>
<block name="foot">
<include file="Public/foot" /> </block>
