<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">设备绑定</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
	
<section class="contentpanel">

	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="box" style="padding:15px 15px;">
				<div style="padding-left: 10px; padding-right: 10px;width: 100%;min-height: 1px;">
					<ul class="nav nav-tabs nav-dark" id="myTab" style="background:#ddd">
						<li class="active">
							<a href="#" style="color: #0073B7;">设备绑定</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel-body panel-body-nopadding">
				<form class="form-horizontal form-bordered" method="post" id="save-bg-form">
					<div class="form-group">
						<label class="col-sm-3 control-label">血压检测仪:</label>
						<div class="col-sm-4">
							<input type="text" name="blood_sugar" class="form-control" />
						</div>
						<div class="col-lg-2">
							<button class="btn btn-danger btn-sm">解绑</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="time">随身贴心电测试仪:</label>
						<div class="col-sm-4">
							<input type="text" name="detect_time" class="form-control">
						</div>
						<div class="col-lg-2">
							<button class="btn btn-danger btn-sm">解绑</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="time">血糖仪:</label>
						<div class="col-sm-4">
							<input type="text" name="detect_time" class="form-control">
						</div>
						<div class="col-lg-2">
							<button class="btn btn-danger btn-sm">解绑</button>
						</div>
					</div>
				</form>
			</div>
			<!-- panel-body -->
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button class="btn btn-primary" type="button"
							onclick="saveBSData();">确认修改</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>


</block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>


