<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">健康视频</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
<div class="row">
<style>
	.nav-tabs li{
		width: 76px;
	    height: 42px;
	    float: left;
	    text-align: center;
	    line-height: 42px;
	}
</style>
	<div class="col-xs-12">
		<div class="box" style="padding:15px 15px;">
			<div style="padding-left: 10px; padding-right: 10px;width: 100%;min-height: 1px;">
				<ul class="nav nav-tabs nav-dark" id="myTab" style="background:#ddd">
					<li class="active" style="width:95px;"><a href="#spokenHisMind">健康视频</a></li>
<!-- 					<li><a href="#cardiovascular">心血管</a></li>
					<li><a href="#male">男性</a></li>
					<li><a href="#gynaecology">妇科</a></li>
					<li><a href="#parenting">育儿</a></li>
					<li><a href="#health">养生</a></li>
					<li><a href="#bisexual">两性</a></li>
 -->				</ul>
				<div class="tab-content mb30">
				<!-- 心里话 -->
					<div class="tab-pane active" id="spokenHisMind">
						<div id="spokenHisMindDiv" class="panel-group">
							<!-- 循环开始 -->
							<volist name="videoData" id="v">
								<div class="panel panel-default" style="margin-top: 0px;border-radius:0px">
									<div class="panel-heading" style="padding: 0px 0px;border-radius:0px">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#spokenHisMindDiv" href="#spokenHisMindDiv{$v.videoId}" onclick="ChangeState({$v.videoId});" style="display: block;line-height: 37px;ext-indent: 10px;height: 100px;overflow: hidden;" >
												<img src="{$v.coverUrl}" class="user-image" style="margin-left: 8px;width: 100px;margin-top: 10px;margin-left: 10px;float: left;">
												<i style="margin-left: 8px;float: left;display: inline-block;width: 850px;height: 27px;font-size: 16px;font-style: normal;">{$v.title}</i>
												<span style="display: inline-block;margin-left: 8px;float: left;height: 30px;width: 850px;overflow: hidden;font-size: 14px;color: #999999;">{$v.videoDescription}</span>
												<span style="margin-left: 8px;color: #999999;">{$v.create_time}</span>
											</a>
										</h4>
									</div>
									<div class="panel-collapse collapse" id="spokenHisMindDiv{$v.videoId}" style="height: 0px;">
										<div class="panel-body">
											<video controls="controls" autoplay="autoplay" width="320" height="176" id="video" style="display:block">
												<source src="{$v.videoUrl}" />
											</video>
										</div>
									</div>
								</div>
							</volist>
							<!-- 循环结束 -->
						</div>
					</div>
					
					<div class="pages">
		           		{$page}
		            </div>
				</div>
				<script>
					$(function() {
						$('#myTab a:last').tab('show');
					})
					$('#myTab a').click(function(e) {
						e.preventDefault();
						$(this).tab('show');
					})
				</script>
				<!-- /.box-header -->
			</div>
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row --> </block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>
