<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <td id="message-body">
					<table id="paragraphs" border="0" cellpadding="0" cellspacing="0">
						<tbody><tr><td class="paragraph" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;">您好：</td></tr>
						<tr><td class="paragraph" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;">您最近选择了 <em style="font-family: 'Lucida Grande Bold', 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;font-style:normal;color:#333;text-decoration:none;"><a href="mailto:{$toMail}" target="_blank">{$toMail}</a></em> 作为您的平台ID。为验证此电子邮件地址属于您，请将下发验证码输入到平台邮箱验证部分,验证码有效期2天.</td></tr>
						<tr><td class="paragraph" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;"><a href="#" style="line-height:18px;color:#08c;text-decoration:none;" target="_blank">验证码: {$verifyCode}</a></td></tr>
						<tr><td class="h1-header" style="padding:0 5% 0;font-family:'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;font-size: 14px;line-height: 18px;font-weight:bold;color:#333;">您为何收到此电子邮件</td></tr>
						<tr><td class="paragraph" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;">每当您选择电子邮件地址作为ID，我们都会要求验证。您必须先验证，然后才能使用您的电子邮件进行平台登陆。</td></tr>
						<tr><td class="paragraph" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;">如果您未做过此更改并认为有未经授权的人员访问了您的帐户。您应拒绝进行验证</td></tr>
																		<tr><td class="paragraph" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;">此致</td></tr>
												<tr><td id="signature" class="paragraph" style="padding:18px 5% 51px;font:300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;color:#333;"></td></tr>
					</tbody></table>
					</td>
  </body>
</html>
