<!DOCTYPE html>
<html>

<head>
	<block name="head"></block>
</head>

<body class="skin-blue sidebar-mini wysihtml5-supported">
	<div class="wrapper">
		<!-- 导入Header bar -->
		<block name="header"></block>

		<block name="left"></block>

		<div class="content-wrapper" style="min-height: 800px;">

			<section class="content-header">
				<h1>
					{$title} <small>{$discription}</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="{$parentUrl}"><i class="fa {$parentIcon}"></i>
							{$parentTitle}</a></li>
					<li class="active">{$title}</li>
				</ol>
			</section>

			<block name="right"></block>

		</div>

		<block name="footer"></block>
		<!-- 导入底部的脚本文件等内容 -->
		<!-- /.content -->

		<block name="foot"></block>
		<block name="footExtra"> 
			<script>
				var treeMenuNode = $('#treeview-menu-{$menuId}');
				if (treeMenuNode != undefined) {
					treeMenuNode.addClass("active");
					treeMenuNode.parent().parent().addClass("active");
				}
			</script> 
		</block>
</body>

</html>

