<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<volist name="menu" id="mainMenu">
				<li class="treeview" id="treeview-{$mainMenu['id']}">
					<a href="#">
						<i class="fa fa-{$mainMenu['icon']}"></i> <span>{$mainMenu['title']}</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<volist name="mainMenu['subTitles']" id="subMenu">
							<li id="treeview-menu-{$subMenu['id']}">
								<a href="/index.php/HealthManager/{$subMenu['url']}"><i class="fa fa-circle-o"></i>{$subMenu['title']}</a>
							</li>
						</volist>
					</ul>
				</li>
			</volist>
			<li>
				<a href="documentation" target="_blank">
					<i class="fa fa-book"></i>
					<span>开发文档</span>
				</a>
			</li>
			<li class="header">导航栏目</li>
			<li>
				<a href="{:U('dashboard')}">
					<i class="fa fa-circle-o text-red"></i>
					<span>懿加乐个人健康管理平台</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
