<extend name="Public/base" />
<block name="head"><include file="Public/head" /> </block>
<block name="title">血糖信息</block>
<block name="header"><include file="Public/header" /> </block>
<block name="left"><include file="Public/leftSidebar" /> </block>
<block name="right">
<script src="__PUBLIC__/AdminLTE/Js/WdatePicker.js"></script>
	<div class="row">
		<div class="col-xs-12">
			<div class="box" style="padding: 15px 15px;">
				<div style="padding-left: 10px; padding-right: 10px; width: 100%; min-height: 1px;">
					<ul class="nav nav-tabs nav-dark" style="background: #ddd" id="myTab">
						<li class="active"><a href="#all" onclick="bind(0)">历史数据</a></li>
						<li><a href="#added" onclick="loadEchart()">图形分析</a></li>
						<li><a href="#unresolved">手动输入</a></li>
					</ul>
					<div class="tab-content">
						<!--  tab-one start  -->
						<div class="tab-pane active" id="all">
							<div class="table-responsive">
								<table id="bloodpressure" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>测量时间</th>
											<th>结果分析</th>
											<th>报告图片</th>
										</tr>
									</thead>
									<tbody>
										<!-- <if condition="$reportArray neq NULL">  -->
										<volist name="reportArray" id="vo">
											<tr class="report">
												<td>{$vo.add_time}</td>
												<if condition="$vo['report_type'] eq 1">
													<td>{$vo.report_url}</td>
													<else />
													<td>{$vo.content}</td>
												</if>
												<!-- <td>{$vo.reference_range}</td> -->
												<td>
													<a href="{$vo.report_url}">查看详情</a>
												</td>
											</tr>
										</volist>
										<!-- <else /> -->
										<!-- <p
										style="font-size: 14px; color: #666; text-align: center; height: 200px; line-height: 200px;"
										class="noShop">对不起，没有信息！</p>
									</if> -->
									</tbody>
								</table>
								<div class="pages">{$page}</div>
							</div>
						</div>
						<!--  tab-one end  -->
						<div id="added" class="tab-pane" style="margin-top: 10px;">
							<div class="row">
								<div class="col-md-3">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">选择时间：</h4>
										</div>
										<div class="panel-body">
											<div class="form-group" style="height: 50px;">
												<label class="col-sm-3 control-label">时间</label>
												<div class="col-sm-9">
													<input type="text" id="rtime" class="form-control" value="2016-11-10" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">时间段</label>
												<div class="col-sm-9">
													<div class="rdio rdio-success">
														<input type="radio" id="rday" value="1" name="rdotime" checked="checked" />
														<label for="rday">日</label>
													</div>
													<div class="rdio rdio-success">
														<input type="radio" id="rweeks" value="2" name="rdotime">
														<label for="rweeks">周</label>
													</div>
													<div class="rdio rdio-success">
														<input type="radio" id="rmonth" value="3" name="rdotime">
														<label for="rmonth">月</label>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-footer">
											<div class="row">
												<div class="col-sm-9 col-sm-offset-3">
													<button class="btn btn-primary" type="button" onclick="loadEchart();">确定</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-9">
									<div id="main" style="width: 750px; height: 600px; position: relative; background-color: transparent;" _echarts_instance_="ec_1478767888001" >
										<div style="position: relative; overflow: hidden; width: 750px; height: 600px; cursor: default;">
											<canvas style="position: absolute; left: 0px; top: 0px; width: 750px; height: 600px;" width="1500" height="1200" data-zr-dom-id="zr_0"></canvas>
										</div>
										<div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgba(50, 50, 50, 0.7); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font: 14px/21px sans-serif; padding: 5px; left: 395px; top: 164px;">
											<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:#c23531"></span>
											血糖浓度 : -
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  tab-two end  -->
						<div id="unresolved" class="tab-pane">
							<div class="panel panel-default">
								<div class="panel-body panel-body-nopadding">
									<form class="form-horizontal form-bordered" method="post" id="save-bg-form">
										<div class="form-group">
	                                        <label class="col-sm-3 control-label">浓度值</label>
	                                        <div class="col-sm-4">
	                                            <input type="text" name="blood_sugar" class="form-control" />
	                                        </div>
	                                    </div>
	                                    <div class="form-group">
	                                        <label class="col-sm-3 control-label" for="time">测量时间</label>
	                                       	<div class="col-sm-4">
	                                            <input type="text" name="detect_time"  class="form-control">
	                                        </div>
	                                        <!-- <div class="col-sm-4">
                                            	<input type="text" id="time" class="form-control" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })">
                                        	</div> -->
	                                    </div>
									</form>
								</div>
								<!-- panel-body -->
								<div class="panel-footer">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button class="btn btn-primary" type="button" onclick="saveBGData();">保存</button>&nbsp;
											<!-- <button class="btn btn-default" type="button" onclick="doclear();">清空</button> -->
										</div>
									</div>
								</div>
								<!-- panel-footer -->
							</div>
						</div>
						<!--  tab-three end  -->
					</div>
					<!--  tab-content end  -->
				</div>
				<script>
					$(function() {
						$('#myTab a:last').tab('show');
					})
					$('#myTab a').click(function(e) {
						e.preventDefault();
						$(this).tab('show');
					})
				</script>
			</div>
			<!-- /.box -->
		</div>
	</div>
	<!-- /.row -->
</block>
<block name="runJsContent"> $('#mainTable').DataTable({ "paging": true, "lengthChange": true, "searching": true, "ordering": false, "info": true, "autoWidth": false }); </block>

<block name="footer"><include file="Public/footer" /> </block>
<block name="foot"><include file="Public/foot" /> </block>