<extend name="Public/base" />
<block name="head">
	<include file="Public/head" /> </block>
<block name="title">健康管理平台医生版</block>
<block name="header">
	<include file="Public/header" /> </block>
<block name="left">
	<include file="Public/leftSidebar" /> </block>
<block name="right">
	<!--content start-->
<style type="text/css">
	.buttonTr{
		position: relative;
	}
	.buttons{
		opacity: 0;
		height: 73px;
		position: absolute;
		top:106px;
		left: 0;
		z-index: 1000;
	}	
</style>

<div style="padding: 0px 15px 15px 15px; width: 100%;">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-aqua">
				<i class="glyphicon glyphicon-user" style="font-size: 35px;"></i>
			</span>

				<div class="info-box-content">
					<span class="info-box-text">我的会员</span>
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red">
				<i class="glyphicon glyphicon-file" style="font-size: 35px;"></i>
			</span>

				<div class="info-box-content">
					<span class="info-box-text">会员档案</span>
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->

		<!-- fix for small devices only -->
		<div class="clearfix visible-sm-block"></div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green">
				<i class="glyphicon glyphicon-envelope" style="font-size: 35px;"></i>
			</span>
				<div class="info-box-content">
					<span class="info-box-text">咨询信息</span>
					<span class="info-box-number">1</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-yellow">
				<i class="ion ion-ios-people-outline" style="font-size: 35px;"></i>
			</span>

				<div class="info-box-content">
					<span class="info-box-text">总用户</span>
					<span class="info-box-number">1</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<section class="content">
	<div class="row">
		<div class="col-lg-4">
			<!--user info table start-->
			<section class="panel" style="height: 384.417px">
				<div class="panel-body">
					<a href="javascript:void(0)" class="task-thumb">
						<if condition="$userData.avatar neq null"> <img src="http://ainia.oss-cn-beijing.aliyuncs.com/{$userData.avatar}" style="width: 90px; height: 83px;" id="idocimg">
							<else />
							<img src="https://img.alicdn.com/tps/TB1BsZ6JpXXXXaZXpXXXXXXXXXX-81-81.png" alt="User Image" style="width: 90px; height: 83px;" id="idocimg">
						</if>
					</a>
					<div class="task-thumb-details">
						<h1>
						<if condition="$userData.nickname neq null"> <a href="javascript:;" id="idocname">{$userData.nickname}</a> <else />
						<a href="javascript:;" id="idocname">{$userData.email}</a> </if>
					</h1>

					</div>
				</div>
				<a id="CModel" data-toggle="modal" href="#iCreateUserModel" onclick="bind()"></a>
				<table class="table table-hover personal-task">
					<tbody>
						<tr class="buttonTr" style="cursor: pointer">
							<td><i class="icon-user"></i></td>
							<td style="text-align: center">新建会员</td>
							<td>+</td>
							<button onmouseover="over()" onmouseleave="down()" class="buttons table table-hover personal-task" data-type="1" onclick="showIndex(event)"></button>
						</tr>
						<tr style="cursor: pointer">
							<td><i class="icon-file"></i></td>
							<td style="text-align: center">新建档案</td>
							<td>+</td>
						</tr>
						<tr onclick="DoOpen(3);" style="cursor: pointer">
							<td><i class="icon-print"></i></td>
							<td style="text-align: center">打印报告</td>
							<td>+</td>
						</tr>
						<tr onclick="DoOpen(4);" style="cursor: pointer">
							<td><i class="icon-cloud-upload"></i></td>
							<td style="text-align: center">上传报告</td>
							<td>+</td>
						</tr>
					</tbody>
				</table>
			</section>
			<!--user info table end-->
		</div>
		<!--体检报告-->
		<div class="col-lg-8">
			<section class="panel">
				<header class="panel-heading">
					检测报告
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/other/medical.aspx" target="_self"><i class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover" id="tijian">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>家庭住址</th>
							<!-- <th>生日</th>-->
							<th>注册时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="/doctor/user/index.aspx?a=1&amp;u=6059">余彬</a>
							</td>
							<td>男</td>
							<td>北京市昌平区沙河镇小沙河村</td>
							<td>2017-01-09 10:02:21</td>
							<td>
								<button class="btn btn-primary btn-xs" onclick="DoPrint()">查看</button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<!--体检报告end-->
	</div>
	<div class="row">
		<!--安全预警-->
		<div class="col-lg-4">
			<section class="panel">
				<header class="panel-heading">
					安全预警
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/warning/safety.aspx?a=5" target="_self"><i class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover" id="SecurityWarning">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>定位时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="/doctor/user/index.aspx?a=1&amp;u=5789">郭善兵</a>
							</td>
							<td>男</td>
							<td>2017-01-09 16:48:17</td>
							<td>
								<a data-toggle="modal" href="#iSecurityWarning" onclick="GetPosition(5789,445413)"><button class="btn btn-primary btn-xs" onclick="()">查看</button></a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<!--安全预警end-->
		<!--健康预警-->
		<div class="col-lg-8">
			<section class="panel">
				<header class="panel-heading">
					健康预警
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/warning/health.aspx?a=5" target="_self"><i class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover" id="HealthWarning">
					<thead>
						<tr>
							<th>姓名</th>
							<th>测量项目</th>
							<th>异常数值</th>
							<th>状态</th>
							<th>测量日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="/doctor/user/index.aspx?a=1&amp;u=4991">张恒</a>
							</td>
							<td>体温</td>
							<td>体温-35.1</td>
							<td>偏低</td>
							<td>2017-01-10 14:33:34</td>
							<td>
								<a  onclick="saveid()"><button data-type="2" onclick="showIndex(event)" class="btn btn-primary btn-xs">提醒</button></a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<!--健康预警end-->
	</div>
	<div class="row">

		<!--重点关注-->
		<div class="col-lg-4">
			<section class="panel">
				<header class="panel-heading">
					重点关注
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/other/focus.aspx" target="_self"><i class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover" id="focus">
					<thead>
						<tr>
							<th>姓名</th>
							<th>性别</th>
							<th>注册时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="/doctor/user/index.aspx?a=1&amp;u=6043">张怀宇</a>
							</td>
							<td>男</td>
							<td>2017-01-06</td>
							<td> <button class="btn btn-primary btn-xs" onclick="javascript:window.location.href = '/doctor/user/index.aspx?a=1&amp;u=6043'">查看</button> </td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<!--重点关注end-->
		<!--健康咨询-->
		<div class="col-lg-8">
			<section class="panel">
				<header class="panel-heading">
					健康咨询
					<div style="float: right; font-size: 14px; cursor: pointer">
						<a href="/doctor/consult/index.aspx?a=2" target="_self"><i class="icon-double-angle-right"></i></a>
					</div>
				</header>
				<table class="table table-striped table-advance table-hover" id="consult">
					<thead>
						<tr>
							<th>姓名</th>
							<th>内容</th>
							<th>时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="consultationArray" id="v">
							<tr>
								<td>
									<a href="#">{$v.userTinyName}</a>
								</td>
								<td>{$v.content}</td>
								<td>{$v.create_time}</td>
								<if condition="$v.status == 0">
									<td>未回复</td>
									<else/>
									<td>已回复</td>
								</if>
								<td>
									<a>    <!--   onclick="getAnswerData({$v.ask_id},{$v.uid})"-->
										<button  data-type="3" onclick="showIndex(event)" class="btn btn-primary btn-xs">回复</button>
									</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
			</section>
		</div>
		<!--健康咨询end-->
	</div>
	</section>
</div>

<!----------------------------------弹窗---------------------------------------->

<!----- 弹窗（新建会员）---->
<div class="modal fade" id="myModa1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
				</button>
				<h4 class="modal-title" id="myModalLabel" style="text-align: center;">新建会员</h4>
			</div>
			<div class="modal-body">
				<div class="panel-body">
					<div class="tab-content tasi-tab">
						<div class="tab-pane active" id="popular">
							<div class="cmxform form-horizontal tasi-form">
								
								<form id="newName" action="" method="post">
									<div class="form-group">
										<label for="uname" class="col-lg-2 control-label name">姓名</label>
										<div class="col-lg-4">
											<input class="form-control" onblur="" id="uname" name="uname" type="text" placeholder="请输入您的真实姓名">
										</div>
										<label class="col-lg-2 control-label">性别</label>
										<div class="col-lg-4" style="padding-top: 9px; line-height: 23px">
											<label class="label_radio" for="radman" style="">
					                            <input name="radsex" id="radman" value="1" style="top: 10px" checked="checked" type="radio">男&nbsp;&nbsp;
					                        </label>
											<label class="label_radio" for="radwomen">
					                             <input name="radsex" id="radwomen" value="2" type="radio">女
					                        </label>
										</div>
									</div>
									<div class="form-group">
										<label for="ulogname" class="col-lg-2 control-label">登录名称</label>
										<div class="col-lg-4">
											<input class="form-control" id="ulogname" name="ulogname" type="text" placeholder="输入您的邮箱地址">
										</div>
									</div>
									<div class="form-group ">
										<label for="upass" class="control-label col-lg-2">登录密码</label>
										<div class="col-lg-4">
											<input class="form-control " id="upass" name="upass" type="password" placeholder="输入您的登陆密码">
										</div>
										<label for="uconpass" class="control-label col-lg-2">确认密码</label>
										<div class="col-lg-4">
											<input class="form-control " id="uconpass" name="uconpass" type="password" placeholder="与登陆密码保持一致">
										</div>
									</div>
									<div class="form-group">
										<label for="uidcard" class="col-lg-2 control-label">身份证号</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="uidcard" name="uidcard" placeholder="身份证包含字母的请输入大写">
										</div>
									</div>
									<div class="form-group">
										<label for="uphone" class="col-lg-2 control-label">手机</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="uphone" name="uphone" placeholder="输入您常用手机号码">
										</div>
									</div>
									<div class="form-group">
										<label for="uemail" class="col-lg-2 control-label">邮箱</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="uemail" name="uemail" placeholder="请输入您的邮箱地址">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">联系地址</label>
										<div class="col-lg-8">
											<input type="text" class="form-control" id="uaddress" name="uaddress" placeholder="请输入您的现居家庭住址">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">所属分组</label>
										<div class="col-lg-4">
											<select class="form-control" id="selCreateUser">
												<option value="-1" selected="selected">默认分组</option>
												<option value="106">第二市场</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<span id="content" style="color: red; margin-right: 20px;"></span>
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="button" class="btn btn-danger" id="newMember">提交</input>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//新建会员表单验证
    $("#newMember").on("click",function(){
    		var username = $("#uname").val();
    		var ulognames = $("#ulogname").val();
    		var reg=/^[a-zA-Z0-9]{1,12}@[a-zA-Z0-9]{1,5}(\.[a-zA-Z0-9]{1,5})+$/;
    		var pwd = $("#upass").val();
    		var pwds = $("#uconpass").val();
    		var uidcard = $("#uidcard").val();
    		var uphone = $("#uphone").val();
    		var ph = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
    		var isIDCard = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
    		var uemail = $("#uemail").val();
		if(username == ""){
		    $("#content").text("请输入您的姓名!");
			return false;
		}else if(ulognames == ""){
			$("#content").text("请输入您的登陆名称!");
			return false;
		}else if(reg.test(ulognames) == false){
			$("#content").text("请输入正确的登陆名称，要求为邮箱地址!");
			return false;
		}else if(pwd == ""){
			$("#content").text("请输入您的登陆密码!");
			return false;
		}else if(pwds!= pwd){
			$("#content").text("	确认密码必须与登陆密码保持一致!");
			return false;
		}else if(uidcard == ""){
			$("#content").text("身份证不能为空!");
			return false;
		}else if(isIDCard.test(uidcard) == false){
			$("#content").text("身份证格式不正确!");
			return false;
		}else if(ph.test(uphone) == false){
			$("#content").text("请确认您的手机号是否正确!");
			return false;
		}else if(reg.test(uemail) == false){
			$("#content").text("邮箱格式不正确!");
			return false;
		}else{
			alert("恭喜您！新建会员成功");
			$("#newName").submit();
		};
    });
</script>

<!--健康预警弹窗-->
<div class="modal fade" id="wHealth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" style="text-align: center;">预警建议信息</h4>
			</div>
			<div class="modal-body">
				<div class="panel-body">
					<div class="tab-content tasi-tab">
						<div class="tab-pane active" id="popular">
							<div class="cmxform form-horizontal tasi-form">

								<div class="form-group">
									<label for="uidcard" class="col-lg-2 control-label"><b>内容</b></label>
									<div class="col-lg-10">
										<textarea class="form-control" c="" rows="10" id="txtMsg"></textarea>
									</div>
								</div>
								<div class="form-group" style="text-align: center;">
									<input class="btn btn-danger" type="button" onclick="DoSaveMsg()" value="提交">
									<input type="hidden" id="hidhealthinfoid" value="">
									<input type="hidden" id="hidhealthuid" value="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!----健康咨询回复---->
<div class="modal fade" id="iConsult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">回复</h4>
			</div>
			<div class="panel-body">
				<div class="timeline-messages" id="messageslist">
					<div class="msg-time-chat">
						<a class="message-img" href="/doctor/user/index.aspx?a=1&amp;u=6055"> <img src="" class="avatar"></a>
						<div class="message-body msg-in"><span class="arrow"></span>
							<div class="text">
								<p class="attribution"><a href="/doctor/user/index.aspx?a=1&amp;u=6055">董刚</a>2017-01-10 11:50:50</p>
								<p>这几天有点头疼？</p>
							</div>
						</div>
					</div>
				</div>
				<div class="chat-form">
					<div class="input-cont ">
						<input class="form-control col-lg-12" id="txtConsultMsg" name="txtConsultMsg" placeholder="在这里输入回复信息..." minlength="2" type="text" required="">
					</div>
					<div class="form-group">
						<div class="pull-right chat-features">
							<button type="button" class="btn btn-send" onclick="DoSaveConsultMsg();">发送</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
//    新建会员鼠标经过
	function over(){
		$(".buttonTr").css({"background":"#f5f8fb"});
	}
	
	function down(){
		$(".buttonTr").css({"background":"#fff"});
	}
	
</script>


</block>
<block name="runJsContent"> $('#mainTable').DataTable({ "paging": true, "lengthChange": true, "searching": true, "ordering": false, "info": true, "autoWidth": false }); </block>

<block name="footer">
	<include file="Public/footer" /> </block>
<block name="foot">
	<include file="Public/foot" /> </block> 