<extend name="Public/base" />
<block name="head"> <include file="Public/head" /> </block>
<block name="title">我要咨询</block>
<block name="header"> <include file="Public/header" /> </block>
<block name="left"> <include file="Public/leftSidebar" /> </block>
<block name="right">
<style>
.one {
	font-size: 14px;
	line-height: 30px;
	border: 1px solid #ccc;
	color: #333;
	opacity: 1;
	background: #f4f4f4;
}

.two {
	font-size: 14px;
	line-height: 30px;
	opacity: 1;
	background: #e4e7ea;
	border: 1px solid #ccc;
	color: #4A535E;
}

.twoView {
	display: none;
}
</style>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<a href="javascript:;" class="col-sm-6 one" id="one">第1步:选择咨询医生</a>
				<a href="javascript:;" class="col-sm-6 two" id="two">第2步:填写内容及附件</a>
			</div>
			<!-- /.box-header -->
			<!-- 第一页面 -->
			<div class="box-body oneView">
				<!-- <form action="" method="post" id="choice"> -->
				<div class="col-sm-2" style="float: right; margin-bottom: 20px;">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle ks"
							data-toggle="dropdown">
							全部科室 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<volist name="departmentInfo" id="vo">
							<li>
								<!-- onclick="selectDoctor()" --> <a href="javascript:;"
								did='{$vo.department_id}' class="did">{$vo.department_name}</a>
							</li>
							</volist>
							<input type="hidden" name="did" id="did" value="{$did}" />
							<script type="text/javascript">
								$('.did').click(function() {
									var did = $(this).attr('did');
									var dname = $(this).html();
									$('input[name=did]').attr('value', did);
									$('.ks').html(dname);
									$('#choice').submit();
								});
							</script>
						</ul>
					</div>
				</div>
				<table id="mainTable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>头像</th>
							<th>真实姓名</th>
							<th>职称</th>
							<th>医院</th>
							<th>科室</th>
							<th>专长</th>
							<th>选择我</th>
						</tr>
					</thead>
					<tbody class="content">
						<if condition="$doctorListArray neq NULL"> <volist
							name="doctorListArray" id="vo">
						<tr class="checkMe">
							<!--选框-->
							<td><img src="{$vo.avatar}" style="width: 80px"></td>
							<td>{$vo.tinyName}</td>
							<td>{$vo.positionName}</td>
							<td>{$vo.hospitalName}</td>
							<td>{$vo.departmentName}</td>
							<td>{$vo.skill}</td>
							<td>
								<input type="checkbox" class="check" name="doctorId" id="doctorId" value="{$vo.uid}" class="check" checked>
							</td>
							<script type="text/javascript">
								$('#doctorId').click(function() {
									var doctorId = $(this).val();
									$('input[name=doctorId]').attr('value', doctorId);
								});
							</script>
						</tr>
						</volist> <else />
						<p
							style="font-size: 14px; color: #666; text-align: center; height: 200px; line-height: 200px;"
							class="noShop">对不起，该科室下暂时没有医生！</p>
						</if>
					</tbody>
				</table>
				<!-- <div class="pages">{$page}</div> -->
				<button type="button"
					style="float: left; margin-top: 20px; margin-left: 10px;"
					class="btn btn-danger disabled doctorData">上一步</button>
				<button type="button"
					style="float: right; margin-top: 20px; margin-right: 10px;"
					class="btn btn-danger postAskContent">下一步</button>
			</div>
			<!-- </form>  -->
			<!-- 第二页面 -->
			<div class="box-body twoView">
				<form action="postAskContent" method="post" id="" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-4">请填写咨询内容</label>
						<div class="col-sm-8" style="margin-bottom: 15px;">
							<textarea id="txtconmsg" name="content" class="form-control"
								rows="6"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">请选择上传附件</label>
						<div class="col-sm-8" style="margin-bottom: 15px;">
							<input id="fmaterial" name="url" type="file" class="">
							仅支持: jpg,gif,png,bmp,jpeg,txt,doc,docx,html,xls,xlsx,doc,docx,pdf
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4"></label>
						<div class="col-sm-8" style="margin-bottom: 15px;">
							<input type="submit" value="确定咨询" class="btn btn-default btn-flat"/>
							<!-- <a class="btn btn-default btn-flat" onclick="savaSon();">确定咨询</a> -->
						</div>
					</div>
					<input type="hidden" value="{$doctorId}" name="doctorId" />
					<input type="hidden" value="{$userData.uid}" name="uid" id="uid" />
					<button type="button"
						style="float: left; margin-top: 20px; margin-left: 10px;"
						class="btn btn-danger disabled doctorData">上一步</button>
					<button type="button"
						style="float: right; margin-top: 20px; margin-right: 10px;"
						class="btn btn-danger postAskContent">下一步</button>
				</form> 
			</div>
			<script>
				//填写内容及附件
				$('.postAskContent,.two').click(function() {
					//下一步按钮置灰
					$('.postAskContent').addClass('disabled');
					//显示上一步按钮
					$('.doctorData').css({
						'display' : 'block'
					}).removeClass('disabled');
					//第一步页面隐藏
					$('.oneView').css({
						'display' : 'none'
					});
					//tab切换
					$('#one').addClass('two').removeClass('one');
					$('#two').addClass('one').removeClass('two');

					//第二页面显示
					$('.twoView').css({
						'display' : 'block'
					});

				});

				$('.doctorData,.one').click(function() {
					//上一步按钮置灰
					$('.doctorData').addClass('disabled');
					//下一步按钮去掉disabled
					$('.postAskContent').removeClass('disabled');
					//第一步页面显示
					$('.oneView').css({
						'display' : 'block'
					});
					
					//第二步页面隐藏
					$('.twoView').css({
						'display' : 'none'
					});
					
					//tab切换
					$('#one').addClass('one').removeClass('two');
					$('#two').addClass('two').removeClass('one');
					
					//				$.ajax({
					//					cache: false,
					//					type: "POST",
					//					url: 'ajax_updateUserInfo',
					//					data: $('#change-user-form').serialize(), // 你的formid 
					//					async: false,
					//					error: function(request) {},
					//					success: function(data) {
					//						if (data.status) {
					//							alert("更新用户信息成功");
					//							window.location.href = 'accountBaseInfo';
					//						} else {
					//							alert('更新用户信息失败');
					//						}
					//
					//					}
					//				});
				});
			</script>
			<!-- </form>  -->
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row --> 
</block>
<block name="runJsContent"> $('#mainTable').DataTable({
"paging": true, "lengthChange": true, "searching": true, "ordering":
false, "info": true, "autoWidth": false }); </block>

<block name="footer"> <include file="Public/footer" /> </block>
<block name="foot"> <include file="Public/foot" /> </block>